* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bg-gitProfile {
    background: url('./img/githubMainProfile.png') no-repeat center;
    background-size: cover;
}
.position-relative {
    position: relative;
}
.position-absolute {
    position: absolute;
}
.z-3 {
    z-index:3;
}
.overlay {
    background-color: #000;
    opacity: .9;
}
.top-0 {
    top: 0px;
}
.top-6 {
    top: 6px;
}
.bottom-0 {
    bottom: 0px;
}
.left-0 {
    left: 0px;
}
.right-0 {
    right: 0px;
}
.right-6 {
    right: 6px;
}
.container {
    width:1600px;
    margin: 0px auto;
}
.row {
    display: flex;
}
.align-items-center {
    align-items: center;
}
.justify-content-spaceevenly {
    justify-content: space-evenly;
}
.col-6 {
    width:50%;
}
.col-3 {
    width:25%;
}
.list-style-none {
    list-style: none;
}
.text-decoration-none {
    text-decoration: none;
}
.bg-4a4848 {
    background-color: #4a4848;
}
.bg-green {
    background-color: green;
}
.bg-transparent {
    background-color: transparent;
}
.bg-fff {
    background-color: #fff;
}
.color-fff {
    color: #fff;
}
.color-444 {
    color: #444;
}
.fs-80 {
    font-size: 80px;
}
.fs-22 {
    font-size: 22px;
}
.fs-14 {
    font-size: 14px;
}
.fs-8 {
    font-size: 8px;
}
.fw-bold {
    font-weight: bold;
}
.border-gray {
    border:2px solid #80808054;
}
.border-fff {
    border:1px solid #fff;
}
.border-transparent {
    border:1px solid transparent;
}
.mr-20 {
    margin-right: 20px;
}
.mb-25 {
    margin-bottom: 25px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-5 {
    margin-bottom: 5px;
}
.mt-5 {
    margin-top: 5px;
}
.mr-10 {
    margin-right: 10px;
}
.p-5 {
    padding: 5px;
}
.p-10 {
    padding: 10px;
}
.pb-200 {
    padding-bottom: 200px;
}
.pt-10 {
    padding-top: 10px;
}
.py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.text-align-right {
    text-align: right;
}
.text-align-center {
    text-align: center;
}
.opacity-4 {
    opacity: .4;
}
.br-5 {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.outline-none {
    outline: none;
}
.border-none {
    border: none;
}
.i-block {
    display: inline-block;
}
.block {
    display: block;
}
.w-100 {
    width:100%;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}
.line-height-23 {
    line-height: 23px;
}
.c-pointer {
    cursor: pointer;
}


/* input[type=search] {
    position: relative;
}
input[type=search]:before {
    content: '<i class="fas fa-pen"></i>';
    position: absolute;
    top: 5px;
    right:5px;
    color:red;

} */
